[submodule "OTPless-js-auth"]
	path = OTPless-js-auth
	url = https://github.com/bytebane/OTPless-js-auth
[submodule "OTPless-react-auth"]
	path = OTPless-react-auth
	url = https://github.com/bytebane/OTPless-react-auth
[submodule "OTPless-firebase-auth"]
	path = OTPless-firebase-auth
	url = https://github.com/bytebane/OTPless-firebase-auth
[submodule "OTPless-vue-auth"]
	path = OTPless-vue-auth
	url = https://github.com/bytebane/OTPless-vue-auth
[submodule "OTPless-node-auth"]
	path = OTPless-node-auth
	url = https://github.com/bytebane/OTPless-node-auth
[submodule "OTPless-flutter-auth"]
	path = OTPless-flutter-auth
	url = https://github.com/bytebane/OTPless-flutter-auth/
