/* Root Styles */
:root {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	line-height: 1.5;
	font-weight: 400;
	font-size: 20px;

	letter-spacing: 0.025em;

	color: rgba(255, 255, 255, 0.87);
	background-color: #0e0e0e;
	background-image: url(https://d1j61bbz9a40n6.cloudfront.net/website/home/v4/Marketplace.svg);
	background-size: cover;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	min-width: 320px;
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

#app {
	max-width: 1280px;
	margin: 0 auto;

	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
h1 {
	font-size: 3.5rem;
	text-align: center;
}
#examples-list {
	height: 100%;
	width: 100%;
	text-align: left;
	transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
	overflow: auto;

	&::-webkit-scrollbar {
		display: none;
	}
}

.list-item {
	list-style-type: none;
	padding: 0.25rem;
	font-size: 2.5rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.list-item > *::before {
	content: '📌 ';
}

.list-item-link {
	text-decoration: none;

	color: rgba(255, 255, 255, 0.87);
	max-lines: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	transition: letter-spacing 1s cubic-bezier(0.075, 0.82, 0.165, 1), all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.list-item-link:hover {
	/* font-size: xx-large; */
	font-weight: 900;
	letter-spacing: 0.15em;
	color: white;
}

@media (min-width: 250px) {
	:root {
		font-size: 8px;
	}
}
@media (min-width: 350px) {
	:root {
		font-size: 10px;
	}
}
@media (min-width: 450px) {
	:root {
		font-size: 12px;
	}
}
@media (min-width: 550px) {
	:root {
		font-size: 14px;
	}
}
@media (min-width: 900px) {
	:root {
		font-size: 16px;
	}
}

@media (min-width: 1200px) {
	:root {
		font-size: 22px;
	}
}

@media (min-width: 2000px) {
	:root {
		font-size: 24px;
	}
}
